In [ ]:
import numpy as np
import pandas as pd
import nltk
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")
nltk.download("averaged_perceptron_tagger")
nltk.download("omw-1.4")

[nltk_data] Downloading package punkt to C:\Users\naman/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\naman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\naman/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\naman/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to C:\Users\naman/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [ ]:
df= pd.read_csv("../data/raw/resumes/resume_data.csv")

In [ ]:
df.shape

(9544, 35)

In [ ]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [ ]:
df.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='str')

In [ ]:
df.drop(columns=["address",'educational_results','result_types','company_urls',
                 'start_dates', 'end_dates','extra_curricular_activity_types','extra_curricular_organization_names',
                 'extra_curricular_organization_links','role_positions','languages','proficiency_levels','certification_skills','certification_providers',
                 'online_links','issue_dates','expiry_dates'], inplace=True)

In [ ]:
df.columns

Index(['career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'major_field_of_studies',
       'professional_company_names', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='str')

In [ ]:
df.isnull().sum()

career_objective                4776
skills                             0
educational_institution_name      84
degree_names                      84
passing_years                     84
major_field_of_studies            84
professional_company_names        84
related_skils_in_job              84
positions                         84
locations                         84
responsibilities                   0
﻿job_position_name                 0
educationaL_requirements           0
experiencere_requirement        1356
age_requirement                    0
responsibilities.1                 0
skills_required                 1691
matched_score                      0
dtype: int64

In [ ]:
df['age_requirement']

0                         NaN
1                         NaN
2                         NaN
3          Age 22 to 30 years
4                         NaN
                ...
9539                      NaN
9540     Age at most 40 years
9541                      NaN
9542    Age at least 28 years
9543    Age at least 30 years
Name: age_requirement, Length: 9544, dtype: str

In [ ]:
df.loc[df['age_requirement'].isnull(), 'age_requirement'] = "Age above 22 years"

In [ ]:
df.drop(df[df['skills'].isnull()].index, inplace=True)

In [ ]:
df.isnull().sum()

career_objective                4776
skills                             0
educational_institution_name       0
degree_names                      84
passing_years                     84
major_field_of_studies            84
professional_company_names        84
related_skils_in_job              84
positions                         84
locations                         84
responsibilities                   0
﻿job_position_name                 0
educationaL_requirements           0
experiencere_requirement        1356
age_requirement                    0
responsibilities.1                 0
skills_required                 1691
matched_score                      0
dtype: int64

In [ ]:
df['educational_institution_name'].value_counts()

educational_institution_name
['Illinois Institute of Technology', 'National Institute of Technology']                                                                                            112
['Nagpur University']                                                                                                                                                84
['IIIT D&M Kancheepuram, Chennai']                                                                                                                                   56
['New York University']                                                                                                                                              56
['Southeastern Louisiana University']                                                                                                                                56
                                                                                                                                                                   ...
['Institute of Professional Excellence in Coaching', 'UNIVERSITY OF TULSA']                                                                                          20
['Western Governors University', 'University of Phoenix', 'Oklahoma Baptist University']                                                                             12
['Oklahoma Jr. College']                                                                                                                                             10
['Zambia Accountacy and Business Tuition Centre', 'National Institutes of Public Administration (NIPA)', 'Kamwala Secondary School', 'Chingwele Primary School']      6
['Argosy University', 'Winthrop University']                                                                                                                          4
Name: count, Length: 326, dtype: int64

In [ ]:
df.loc[df['educational_institution_name'].isnull(), 'educational_institution_name'] = "Illinois Institute of Technology"

In [ ]:
df.loc[df['degree_names'].isnull(), 'degree_names'] = "B.Tech"