In [20]:
import numpy as np
import pandas as pd
import nltk
nltk.download("punkt")
nltk.download("stopwords")
nltk.download("wordnet")
nltk.download("averaged_perceptron_tagger")
nltk.download("omw-1.4")

[nltk_data] Downloading package punkt to C:\Users\naman/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\naman/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to C:\Users\naman/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\naman/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package omw-1.4 to C:\Users\naman/nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

True

In [21]:
df= pd.read_csv("../data/raw/resumes/resume_data.csv")

In [22]:
df.shape

(9544, 35)

In [23]:
df.head()

,address,career_objective,skills,educational_institution_name,degree_names,passing_years,educational_results,result_types,major_field_of_studies,professional_company_names,...,online_links,issue_dates,expiry_dates,﻿job_position_name,educationaL_requirements,experiencere_requirement,age_requirement,responsibilities.1,skills_required,matched_score
0,NaN,Big data analytics working and database wareho...,"['Big Data', 'Hadoop', 'Hive', 'Python', 'Mapr...",['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['N/A'],[None],['Electronics'],['Coca-COla'],...,NaN,NaN,NaN,Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,NaN,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000
1,NaN,Fresher looking to join as a data analyst and ...,"['Data Analysis', 'Data Analytics', 'Business ...","['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['N/A', 'N/A']","['N/A', 'N/A']","['Mathematics', 'Statistics']",['BIB Consultancy'],...,NaN,NaN,NaN,Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),NaN,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000
2,NaN,NaN,"['Software Development', 'Machine Learning', '...","['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['N/A'],['N/A'],['Electronics/Telecommunication'],['Axis Bank Limited'],...,NaN,NaN,NaN,"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,NaN,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667
3,NaN,To obtain a position in a fast-paced business ...,"['accounts payables', 'accounts receivables', ...","['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],[None],[None],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...",...,NaN,NaN,NaN,Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000
4,NaN,Professional accountant with an outstanding wo...,"['Analytical reasoning', 'Compliance testing k...",['Kent State University'],['Bachelor of Business Administration'],[None],['3.84'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...",...,[None],[None],"['February 15, 2021']",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,NaN,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000

In [24]:
df.columns

Index(['address', 'career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'educational_results', 'result_types',
       'major_field_of_studies', 'professional_company_names', 'company_urls',
       'start_dates', 'end_dates', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', 'extra_curricular_activity_types',
       'extra_curricular_organization_names',
       'extra_curricular_organization_links', 'role_positions', 'languages',
       'proficiency_levels', 'certification_providers', 'certification_skills',
       'online_links', 'issue_dates', 'expiry_dates', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='str')

In [25]:
df.drop(columns=["address",'educational_results','result_types','company_urls',
                 'start_dates', 'end_dates','extra_curricular_activity_types','extra_curricular_organization_names',
                 'extra_curricular_organization_links','role_positions','languages','proficiency_levels','certification_skills','certification_providers',
                 'online_links','issue_dates','expiry_dates'], inplace=True)

In [26]:
df.columns

Index(['career_objective', 'skills', 'educational_institution_name',
       'degree_names', 'passing_years', 'major_field_of_studies',
       'professional_company_names', 'related_skils_in_job', 'positions',
       'locations', 'responsibilities', '﻿job_position_name',
       'educationaL_requirements', 'experiencere_requirement',
       'age_requirement', 'responsibilities.1', 'skills_required',
       'matched_score'],
      dtype='str')

In [27]:
df.isnull().sum()

career_objective                4804
skills                            56
educational_institution_name      84
degree_names                      84
passing_years                     84
major_field_of_studies            84
professional_company_names        84
related_skils_in_job              84
positions                         84
locations                         84
responsibilities                   0
﻿job_position_name                 0
educationaL_requirements           0
experiencere_requirement        1364
age_requirement                 4087
responsibilities.1                 0
skills_required                 1701
matched_score                      0
dtype: int64

In [28]:
df['age_requirement']

0                         NaN
1                         NaN
2                         NaN
3          Age 22 to 30 years
4                         NaN
                ...
9539                      NaN
9540     Age at most 40 years
9541                      NaN
9542    Age at least 28 years
9543    Age at least 30 years
Name: age_requirement, Length: 9544, dtype: str

In [29]:
df.loc[df['age_requirement'].isnull(), 'age_requirement'] = "Age above 22 years"

In [30]:
df.drop(df[df['skills'].isnull()].index, inplace=True)

In [31]:
df.isnull().sum()

career_objective                4776
skills                             0
educational_institution_name      84
degree_names                      84
passing_years                     84
major_field_of_studies            84
professional_company_names        84
related_skils_in_job              84
positions                         84
locations                         84
responsibilities                   0
﻿job_position_name                 0
educationaL_requirements           0
experiencere_requirement        1356
age_requirement                    0
responsibilities.1                 0
skills_required                 1691
matched_score                      0
dtype: int64

In [32]:
df['educational_institution_name'].value_counts()

educational_institution_name
['Illinois Institute of Technology', 'National Institute of Technology']                                                                                            112
['Nagpur University']                                                                                                                                                84
['IIIT D&M Kancheepuram, Chennai']                                                                                                                                   56
['New York University']                                                                                                                                              56
['Southeastern Louisiana University']                                                                                                                                56
                                                                                                                                                                   ...
['Institute of Professional Excellence in Coaching', 'UNIVERSITY OF TULSA']                                                                                          20
['Western Governors University', 'University of Phoenix', 'Oklahoma Baptist University']                                                                             12
['Oklahoma Jr. College']                                                                                                                                             10
['Zambia Accountacy and Business Tuition Centre', 'National Institutes of Public Administration (NIPA)', 'Kamwala Secondary School', 'Chingwele Primary School']      6
['Argosy University', 'Winthrop University']                                                                                                                          4
Name: count, Length: 326, dtype: int64

In [33]:
df.loc[df['educational_institution_name'].isnull(), 'educational_institution_name'] = "Illinois Institute of Technology"

In [34]:
df.loc[df['degree_names'].isnull(), 'degree_names'] = "B.Tech"

In [35]:
df.isnull().sum()

career_objective                4776
skills                             0
educational_institution_name       0
degree_names                       0
passing_years                     84
major_field_of_studies            84
professional_company_names        84
related_skils_in_job              84
positions                         84
locations                         84
responsibilities                   0
﻿job_position_name                 0
educationaL_requirements           0
experiencere_requirement        1356
age_requirement                    0
responsibilities.1                 0
skills_required                 1691
matched_score                      0
dtype: int64

In [39]:
df['skills_required']

0                                                     NaN
1                                                     NaN
2       Brand Promotion\nCampaign Management\nField Su...
3       Fast typing skill\nIELTSInternet browsing & on...
4       iOS\niOS App Developer\niOS Application Develo...
                              ...
9539    Azure\nBig Data\nData Analytics\nETL Tools\nPo...
9540                                                  NaN
9541                                          VAT and Tax
9542    •Administration\n•Health Safety and Environmen...
9543    AutoCAD\nETABS\nMicrosoft Office Suite\nMS Pro...
Name: skills_required, Length: 9488, dtype: str

In [40]:
df = df.rename(columns={
    "related_skils_in_job": "job_related_skills",
    "experiencere_requirement": "experience_requirement",
    "job_position_name": "job_position",
    "educationaL_requirements": "education_requirements"
})

In [42]:
about = [
    "career_objective",
    "skills",
    "responsibilities",
    "positions",
    "job_related_skills"
]

df["about"] = df[about].fillna("").agg(" ".join, axis=1)

In [44]:
df.drop(columns=about,inplace=True)

In [45]:
df

,educational_institution_name,degree_names,passing_years,major_field_of_studies,professional_company_names,locations,﻿job_position_name,education_requirements,experience_requirement,age_requirement,responsibilities.1,skills_required,matched_score,full_text,about
0,['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['Electronics'],['Coca-COla'],['N/A'],Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,Age above 22 years,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,Big data analytics working and database wareho...,Big data analytics working and database wareho...
1,"['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['Mathematics', 'Statistics']",['BIB Consultancy'],['N/A'],Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),Age above 22 years,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,Fresher looking to join as a data analyst and ...,Fresher looking to join as a data analyst and ...
2,"['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['Electronics/Telecommunication'],['Axis Bank Limited'],['N/A'],"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,Age above 22 years,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,"['Software Development', 'Machine Learning', ...","['Software Development', 'Machine Learning', ..."
3,"['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...","['City, State', 'City, State', 'City, State', ...",Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,To obtain a position in a fast-paced business ...,To obtain a position in a fast-paced business ...
4,['Kent State University'],['Bachelor of Business Administration'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...","['City, State', 'City, State', 'City, State', ...",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,Age above 22 years,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,Professional accountant with an outstanding wo...,Professional accountant with an outstanding wo...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,['Sanghvi College of Engineering'],['B.Tech'],['2019'],['N/A'],['BPM Foundation'],['N/A'],Data Engineer,Bachelor of Science (BSc),5 to 8 years,Age above 22 years,Data Platform Design\nData Pipeline Developmen...,Azure\nBig Data\nData Analytics\nETL Tools\nPo...,0.683333,"['Mathematical modelling', 'Machine Learning'...","['Mathematical modelling', 'Machine Learning'..."
9540,"['KVoCT, Pune', 'KVoCT, Pune']","['B.CA', 'M.CA']","['2018', '2020']","[None, None]",['Passionate Solution'],[None],Executive/ Sr. Executive -IT,Bachelor of Science (BSc) in Computer Science ...,3 to 5 years,Age at most 40 years,Hardware & Software Installation\nSystem Monit...,NaN,0.650000,Expertise EDA modeler. I like to learn what my...,Expertise EDA modeler. I like to learn what my...
9541,['PGG College Mysore'],['B.BA'],['2019'],['N/A'],['ZigSAW'],['N/A'],Executive - VAT,BBA in Accounting and Finance,1 to 3 years,Age above 22 years,Mushak Forms Maintenance\nVAT Software & MS Of...,VAT and Tax,0.650000,Looking for roles related to application devel...,Looking for roles related to application devel...
9542,"['Rajiv Gandhi Memorial University, Delhi']",['B.TECH'],['2020'],['Electrical'],['Zynta Labs'],['N/A'],Asst. Manager/ Manger (Administrative),Bachelor/Honors,At least 5 years,Age at least 28 years,Administrative Support\nScheduling\nFiling & D...,•Administration\n•Health Safety and Environmen...,0.650000,"['Machine Learning', 'Natural Language Proces...","['Machine Learning', 'Natural Language Proces..."
9543,['ARIZONA STATE UNIVERSITY'],['B.A'],['N/A'],['Organizational Communication Business Manage...,"['Company Name', 'Company Name', 'Company Name...","['City , State', 'City , State', 'City , State...",Civil Engineer,B.Sc in Civil Engineering from a reputed unive...,At least 5 years,Age at least 30 years,Design Review\nCoordination\nProposal Preparat...,AutoCAD\nETABS\nMicrosoft Office Suite\nMS Pro...,0.650000,"['assisted living', 'interpersonal and commun...","['assisted living', 'interpersonal and commun..."

In [46]:
df.columns

Index(['educational_institution_name', 'degree_names', 'passing_years',
       'major_field_of_studies', 'professional_company_names', 'locations',
       '﻿job_position_name', 'education_requirements',
       'experience_requirement', 'age_requirement', 'responsibilities.1',
       'skills_required', 'matched_score', 'full_text', 'about'],
      dtype='str')

In [47]:
job_requirement= ['education_requirements',
       'experience_requirement', 'age_requirement', 'responsibilities.1',
       'skills_required']
df["job_requirement"] = df[job_requirement].fillna("").agg(" ".join, axis=1)

In [48]:
df

,educational_institution_name,degree_names,passing_years,major_field_of_studies,professional_company_names,locations,﻿job_position_name,education_requirements,experience_requirement,age_requirement,responsibilities.1,skills_required,matched_score,full_text,about,job_requirement
0,['The Amity School of Engineering & Technology...,['B.Tech'],['2019'],['Electronics'],['Coca-COla'],['N/A'],Senior Software Engineer,B.Sc in Computer Science & Engineering from a ...,At least 1 year,Age above 22 years,Technical Support\nTroubleshooting\nCollaborat...,NaN,0.850000,Big data analytics working and database wareho...,Big data analytics working and database wareho...,B.Sc in Computer Science & Engineering from a ...
1,"['Delhi University - Hansraj College', 'Delhi ...","['B.Sc (Maths)', 'M.Sc (Science) (Statistics)']","['2015', '2018']","['Mathematics', 'Statistics']",['BIB Consultancy'],['N/A'],Machine Learning (ML) Engineer,M.Sc in Computer Science & Engineering or in a...,At least 5 year(s),Age above 22 years,Machine Learning Leadership\nCross-Functional ...,NaN,0.750000,Fresher looking to join as a data analyst and ...,Fresher looking to join as a data analyst and ...,M.Sc in Computer Science & Engineering or in a...
2,"['Birla Institute of Technology (BIT), Ranchi']",['B.Tech'],['2018'],['Electronics/Telecommunication'],['Axis Bank Limited'],['N/A'],"Executive/ Senior Executive- Trade Marketing, ...",Master of Business Administration (MBA),At least 3 years,Age above 22 years,"Trade Marketing Executive\nBrand Visibility, S...",Brand Promotion\nCampaign Management\nField Su...,0.416667,"['Software Development', 'Machine Learning', ...","['Software Development', 'Machine Learning', ...",Master of Business Administration (MBA) At lea...
3,"['Martinez Adult Education, Business Training ...",['Computer Applications Specialist Certificate...,['2008'],['Computer Applications'],"['Company Name ï¼ City , State', 'Company Name...","['City, State', 'City, State', 'City, State', ...",Business Development Executive,Bachelor/Honors,1 to 3 years,Age 22 to 30 years,Apparel Sourcing\nQuality Garment Sourcing\nRe...,Fast typing skill\nIELTSInternet browsing & on...,0.760000,To obtain a position in a fast-paced business ...,To obtain a position in a fast-paced business ...,Bachelor/Honors 1 to 3 years Age 22 to 30 year...
4,['Kent State University'],['Bachelor of Business Administration'],[None],['Accounting'],"['Company Name', 'Company Name', 'Company Name...","['City, State', 'City, State', 'City, State', ...",Senior iOS Engineer,Bachelor of Science (BSc) in Computer Science,At least 4 years,Age above 22 years,iOS Lifecycle\nRequirement Analysis\nNative Fr...,iOS\niOS App Developer\niOS Application Develo...,0.650000,Professional accountant with an outstanding wo...,Professional accountant with an outstanding wo...,Bachelor of Science (BSc) in Computer Science ...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9539,['Sanghvi College of Engineering'],['B.Tech'],['2019'],['N/A'],['BPM Foundation'],['N/A'],Data Engineer,Bachelor of Science (BSc),5 to 8 years,Age above 22 years,Data Platform Design\nData Pipeline Developmen...,Azure\nBig Data\nData Analytics\nETL Tools\nPo...,0.683333,"['Mathematical modelling', 'Machine Learning'...","['Mathematical modelling', 'Machine Learning'...",Bachelor of Science (BSc) 5 to 8 years Age abo...
9540,"['KVoCT, Pune', 'KVoCT, Pune']","['B.CA', 'M.CA']","['2018', '2020']","[None, None]",['Passionate Solution'],[None],Executive/ Sr. Executive -IT,Bachelor of Science (BSc) in Computer Science ...,3 to 5 years,Age at most 40 years,Hardware & Software Installation\nSystem Monit...,NaN,0.650000,Expertise EDA modeler. I like to learn what my...,Expertise EDA modeler. I like to learn what my...,Bachelor of Science (BSc) in Computer Science ...
9541,['PGG College Mysore'],['B.BA'],['2019'],['N/A'],['ZigSAW'],['N/A'],Executive - VAT,BBA in Accounting and Finance,1 to 3 years,Age above 22 years,Mushak Forms Maintenance\nVAT Software & MS Of...,VAT and Tax,0.650000,Looking for roles related to application devel...,Looking for roles related to application devel...,BBA in Accounting and Finance 1 to 3 years Age...
9542,"['Rajiv Gandhi Memorial University, Delhi']",['B.TECH'],['2020'],['Electrical'],['Zynta Labs'],['N/A'],Asst. Manager/ Manger (Administrative),Bachelor/Honors,At least 5 years,Age at least 28 years,Administrative Support\nScheduling\nFiling & D...,•Administration\n•Health Safety and Environmen...,0.650000,"['Machine Learning', 'Natural Language Proces...","['Machine Learning', 'Natural Language Proces...",Bachelor/Honors At least 5 years Age at least ...
9543,['ARIZONA STATE UNIVERSITY'],['B.A'],['N/A'],['Organizational Communication Business Manage...,"['Company Name', 'Company Name', 'Company Name...","['City , State', 'City , State', 'City , State...",Civil Engineer,B.Sc in Civil Engineering from a reputed unive...,At least 5 years,Age at least 30 years,Design Review\nCoordination\nProposal Preparat...,AutoCAD\nETABS\nMicrosoft Office Suite\nMS Pro...,0.650000,"['assisted living', 'interpersonal and commun...","['assisted living', 'interpersonal and commun...",B.Sc in Civil Engineering from a reputed unive...

In [49]:
df.drop(columns=job_requirement,inplace=True)

In [50]:
df.columns

Index(['educational_institution_name', 'degree_names', 'passing_years',
       'major_field_of_studies', 'professional_company_names', 'locations',
       '﻿job_position_name', 'matched_score', 'full_text', 'about',
       'job_requirement'],
      dtype='str')